* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}


input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}


.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


button,
input,
textarea {
  padding: 1em;
}

button {
  background: lightgrey;
  width: 100%;
  border: 0;
}

